<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se2.team3.fpms" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/planelogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".preferencesActivity"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name=".routeActivity"
            android:label="@string/title_activity_route" >
        </activity>
        <activity
            android:name=".startFlightActivity"
            android:label="@string/title_activity_start_flight" >
        </activity>
        <activity
            android:name=".Glass"
            android:label="@string/title_activity_glass" >
        </activity>
        <activity
            android:name=".Glass2"
            android:label="@string/title_activity_glass2" >
        </activity>
        <activity
            android:name=".Glass3"
            android:label="@string/title_activity_glass3" >
        </activity>
        <activity
            android:name=".addAircraftActivity"
            android:label="@string/title_activity_add_aircraft"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se2.team3.fpms.MainActivity" />
        </activity>
        <activity
            android:name=".manageResources"
            android:label="@string/title_activity_manage_resources"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se2.team3.fpms.MainActivity" />
        </activity>
        <activity
            android:name=".aircraftActivity"
            android:label="@string/title_activity_aircraft"
            android:parentActivityName=".manageResources" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se2.team3.fpms.manageResources" />
        </activity>
        <activity
            android:name=".manageFlightPlans"
            android:label="@string/title_activity_manage_flight_plans"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se2.team3.fpms.MainActivity" />
        </activity>
        <activity
            android:name=".flightPlanDetails"
            android:label="@string/title_activity_flight_plan_details"
            android:parentActivityName=".manageFlightPlans" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se2.team3.fpms.manageFlightPlans" />
        </activity>
        <activity
            android:name=".aircraftDetails"
            android:label="@string/title_activity_aircraft_details"
            android:parentActivityName=".aircraftActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se2.team3.fpms.aircraftActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se2.team3.fpms.MainActivity" />
        </activity>
    </application>

</manifest>
